## Задача 1 ##
### 1.1 Найдите картинке с интернете и приекрепите ее в ячейку с текстом ###

Случайная картинка с котиком
<img src="https://cataas.com/cat/gif" alt="Котики">

### 1.2 Создайте таблицу в ячейке с текстом ###

<table>
    <tr>
        <th>&nbsp;</td>        
        <th>До события</td>
        <th>Во время события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td><b>500</b></td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
        <td><b>700</b></td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
        <td><b>800</b></td>
    </tr>
    <tr>
        <td>Итого за победу</td>
        <td>1000</td>
        <td><b>2000</b></td>
    </tr>
</table>

## Задача 2 ##
###  2.1 На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе ###

In [1]:
def FruitAmount(**kwargs) -> int: return sum(kwargs.values())
FruitAmount(banana=5, mango=7,apple=8)

20

## Задача 3 ##
### 3.1 Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка, и посчитайте суммарные затраты ###
\[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [2]:
def MySumm(local_list: list) -> int: return sum([i for i in local_list if i > 0])
MySumm([100, 125, -90, 345, 655, -1, 0, 200])

1425

## Задача 4 ##
### Даны два списка ###
#### Дата покупки ####

\['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

#### Суммы покупок по датам ####
\[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре ###

Используйте list comprehensions

In [3]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
         '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
         '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
         '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
         '2021-10-26', '2021-12-09']
summs = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 
         4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [4]:
import pandas as pd
my_df = pd.DataFrame({'date':dates, 'revenue':summs})
my_df['date'] = pd.to_datetime(my_df['date'])
#my_df.head()
#my_df.info()
mask = (my_df['date'] > '2021-11-01') & (my_df['date'] <= '2021-11-30')
my_df.loc[mask]['revenue'].sum()

23094

### 4.2 Найдите выручку компании в зависимости от месяца ###

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. 

Используйте аннотирование типов.

In [5]:
my_df.groupby(my_df['date'].dt.strftime('%B'))['revenue'].sum().sort_index(ascending=False)

date
September    25647
October      28645
November     25098
December     45452
Name: revenue, dtype: int64